In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [36]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait

In [12]:
driver=webdriver.Chrome(r'C:\Users\Chandru\Downloads\chromedriver_win32\chromedriver.exe')

In [76]:
driver=webdriver.Chrome('chromedriver.exe')

In [77]:
url='https://www.naukri.com/'
driver.get(url)

Runing the url and getting the chrome browser automatically.

In [78]:
 #finding web element for job search bar using id
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

Got the web page to search job using xpath.

In [79]:
search_job.send_keys("Data Analyst")

Sending the key word Data Analyst to search job.

In [80]:
#finding the web element for search location bar using absolute path
search_locn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input")
search_locn

In [81]:
#finding web element for job location bar
search_locn.send_keys("Bangalore")

In [82]:
#clicking using absolute xpath function
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

In [84]:
search_btn.click()

Now lets first create the 4 empty lists. In these lists the data will be stored while scraping

# Extracting job titles

In [20]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="3bb0dba8-8254-4b3b-9c84-938fa67d991e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="f312285f-9b44-48fe-8c1d-adfcb49ce55d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="dda40ae0-bfa4-45fb-ad8f-dc90be0479f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="986df333-9c71-42a0-95ae-776a865da0e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="b945dea2-ea92-4767-b097-7988b83c1428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="aec95a59-1296-4444-9b04-80682f5592cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="513baed7-0280-44a5-9bfe-ba4ca05b1d8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="9fda2dc8-520a-4135-be10-8b81bc999bdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="08ec780a-1f0c-4d1d-9822-a8506b53c7ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="93b976dd-88f2-4f70-a96e-3d7613fa695d")>]

In [59]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles=job_titles[:10]
job_titles

['Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst',
 'Business Data Analyst - Database Design/Mining',
 'Financial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst II',
 'Tcs Hiring For Data Analyst / Engineers']

# Extracting Company Names

In [30]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="2acf6e42-9f16-4620-8d3d-263e2f7decc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="3ff2eed1-7511-4953-b534-348f7d89c724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="d69f16d8-c8cd-4c39-9c9f-493f27ee3b81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="8022d035-530f-4f18-aefe-c9cb61b8cd5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="b1a5a538-96c6-4a5c-a244-e34088d07385")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="8e384baf-d559-4e8a-acd5-898c50f764d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="2cb4e1a6-ed5c-4570-b0d3-d5ea13c293e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="0dd24d00-6354-4be4-bad3-04072d56f387")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="349abef5-23e7-4603-8913-9104052c5fdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="cf240465-9968-487e-b9eb-42b4bbc8fa7c")>]

In [57]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names=company_names[:10]
company_names

['Schneider Electric',
 "Moody's",
 'WEIWO Communication Pvt. Ltd.',
 'AugmatrixGo',
 "Moody's",
 'Spectraforce Technologies',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'Tata Consultancy Services Ltd.']

# Extracting the Locations

In [34]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locn_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="6a32abd5-109e-4c19-8710-e55fc24b7ee0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="ac33c17d-b134-4528-b2f9-c05d101f3103")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="2864504d-000b-4317-aa1a-43e0b5ba55b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="ebd43c26-607f-494e-a65b-80502511c38b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="25306147-7af9-438a-a880-0d2b035f13f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="3997697c-464f-4616-a11b-15833a89f7c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="79bbc752-b245-420a-8b1a-f586852617df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="e245c326-56fc-4d67-8cc6-5bd16a7e623d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="b5db1919-e5a8-4d38-a372-a060f4ebce12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="af428f28-5051-48fa-82b7-9202abb73a9e")>]

In [58]:
location=[]
for i in locn_tags:
    location.append(i.text)
location=location[:10]
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR']

# Extracting the work experience

In [43]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="54453a1f-5521-4295-98a5-65e0f7cee2ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="987929ca-6124-493f-af40-52e8b6dcaf45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="a5d61f5a-fbb0-47fb-a266-5a7d9ab4b73b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="b2805e96-6129-4508-9504-3a7fc48bf713")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="f264cd8e-63db-4ecb-b4cc-e9e0e4c58841")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="093e077f-f9b0-4c81-922a-748bc23d35f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="98436402-88b4-487b-a588-59273a06607d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="8fdc442b-132d-4148-b454-63b0a6760ef5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="48572db4-c696-4d67-aa2b-16ed5fba6152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f85f82e79022d55e147eb10a9905e85b", element="cdcddc49-e987-4d04-beb1-acbe1631711a")>]

In [53]:
experience=[]
for i in exp:
    experience.append(i.text)
len(location)
experience=experience[:10]
experience

['0-2 Yrs',
 '0-2 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '0-2 Yrs',
 '5-10 Yrs',
 '2-3 Yrs',
 '3-7 Yrs',
 '5-7 Yrs',
 '4-9 Yrs']

In [60]:
print(len(job_titles),len(company_names),len(location),len(experience))

10 10 10 10

# Data Framing

In [61]:
#creating DataFrame for scraped data
jobs=pd.DataFrame()
jobs['Job-Title']=job_titles
jobs['Job-Location']=location
jobs['Company-Name']=company_names
jobs['Work-Experience']=experience
jobs

,Job-Title,Job-Location,Company-Name,Work-Experience
0,Senior Data Analyst,Bangalore/Bengaluru,Schneider Electric,0-2 Yrs
1,Financial Data Analyst,Bangalore/Bengaluru,Moody's,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru(Ulsoor),WEIWO Communication Pvt. Ltd.,2-7 Yrs
3,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
4,Financial Data Analyst,Bangalore/Bengaluru,Moody's,0-2 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Spectraforce Technologies,5-10 Yrs
6,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,2-3 Yrs
7,Senior Data Analyst II,Bengaluru/Bangalore,Flipkart,3-7 Yrs
8,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,5-7 Yrs
9,Tcs Hiring For Data Analyst / Engineers,"Pune, Bangalore/Bengaluru, Delhi / NCR",Tata Consultancy Services Ltd.,4-9 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [100]:
driver=webdriver.Chrome('chromedriver.exe')

In [101]:
url='https://www.naukri.com/'
driver.get(url)

Runing the url and getting the chrome browser automatically.

In [102]:
#searching job type
search_job=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search_job

Got the web page to search job using xpath.

In [103]:
search_job.send_keys("Data Scientist")

Sending the key word Data Scientist to search job.

In [104]:
#finding web element for search location bar using absolute xpath
search_locn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_locn

Got the web element for searching location using xpath.

In [105]:
search_locn.send_keys("Bangalore")

Sending the key word Bangalore to search location.

In [106]:
#clicking using absolute xpath function
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button')
search_btn

Got the web element for search button using xpath.

In [107]:
search_btn.click()

# Extracting Job Titles

In [112]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="4d6838e4-c1a8-4066-a9aa-92d52dbbd2c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="76faec96-2fd6-41ee-8e02-a0e8eae020e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="9529467c-8dd9-4546-8311-9ecf1e587599")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="355e3329-c6b3-4756-a5d2-9e0a2d766b47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="08eb2494-dae7-4596-8421-e4ee6916e58f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="deb25a25-1b66-4f4c-a5ad-8a50a8b5eedd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="9ce30a7d-dfd7-4fa4-8d7b-dc33973efa20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="871facd6-a14d-4849-88ac-73927015051a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="5d55e303-ad11-4bbd-a8b5-5fbb90327f13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="cecb9520-3533-400f-8442-ec2961c06017")>]

In [114]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles=job_titles[:10]
job_titles

['Global Tax Automation & Operations | Data Scientist Senior Analyst',
 'Lead Data Scientist',
 'Sr Applied Data Scientist',
 'Senior Risk Data Scientist',
 'Senior Risk Data Scientist',
 'Conducting virtual drive on 8th Jan For Data Scientists',
 'Principal Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Associate - Data Scientist']

# Extracting the Location

In [121]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locn_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="2f1665e8-4bbe-4103-aaf2-7881b4e0ec19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="4fe2a540-9188-40ae-a1a8-74337d196756")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="833fc8aa-b3df-489e-b123-528e53acf27a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="fc3b539d-686f-4fe1-80b6-5d8b467dac76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="f049f938-fa9e-46e2-909a-a4e11a090833")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="46b5cbc4-daf2-495d-a65a-69f50aabd1d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="48cf5ff0-1416-4aff-8209-50f13dc7b543")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="744f7391-0ceb-49d5-bc0f-34943ff521b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="9097f2bc-6cc1-451e-83b5-470b79a36394")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="939fb17f-7b42-4f8f-bc39-fa9619011e11")>]

In [122]:
location=[]
for i in locn_tags:
    location.append(i.text)
location=location[:10]
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru\n(WFH during Covid)']

# Extracting Company Names

In [124]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="61182ffb-b47f-4baa-9fe0-773723e570c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="d5fa601d-b354-43e6-98e1-cad9990a2f18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="5c6d0af9-c52b-4ef4-8198-8307d03fb738")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="4199a02f-606a-4b66-b521-a562f5581eaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="f0c8fa18-b274-4787-b214-ae204b334534")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="4fd0ed98-0ff2-4ae4-ac81-2da26f437c34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="f2fc475f-221b-4b20-85a9-5258552ef220")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="e3b5d2fe-c9c5-43fd-8f83-ce9918e3d1af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="84fba75b-9f6e-4d60-9dfb-53bad7d09654")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a43e694cf68a9c9e3465892e895c77fc", element="a98b4255-34c8-4a73-a842-e1d75343f161")>]

In [126]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name=company_name[:10]
company_name

['Dell International Services India Private Limited',
 'First American Corporation',
 'Tesco Bengaluru',
 'GSK India',
 'GSK India',
 'Pluto seven business solutions (p) limited',
 'Narayana Heath',
 'ELPIS IT SOLUTIONS PVT LTD',
 'Narayana Health',
 'Paonta Valley LLP']

In [127]:
len(job_titles),len(location),len(company_name)

(10, 10, 10)

# Data Framing

In [128]:
jobs=pd.DataFrame()
jobs['Job-Title']=job_titles
jobs['Job-Location']=location
jobs['Company-Name']=company_name
jobs

,Job-Title,Job-Location,Company-Name
0,Global Tax Automation & Operations | Data Scie...,Bangalore/Bengaluru,Dell International Services India Private Limited
1,Lead Data Scientist,Bangalore/Bengaluru,First American Corporation
2,Sr Applied Data Scientist,Bangalore/Bengaluru,Tesco Bengaluru
3,Senior Risk Data Scientist,Bangalore/Bengaluru,GSK India
4,Senior Risk Data Scientist,Bangalore/Bengaluru,GSK India
5,Conducting virtual drive on 8th Jan For Data S...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited
6,Principal Data Scientist,Bangalore/Bengaluru,Narayana Heath
7,Data Scientist,Bangalore/Bengaluru,ELPIS IT SOLUTIONS PVT LTD
8,Data Scientist,Bangalore/Bengaluru,Narayana Health
9,Senior Associate - Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru\n(...",Paonta Valley LLP

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [135]:
driver=webdriver.Chrome('chromedriver.exe')

In [136]:
url='https://www.naukri.com/'
driver.get(url)

Runing the url and getting the chrome browser automatically.

In [137]:
#finding web element for search job bar using id
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [138]:
#searchng job type
search_job.send_keys("Data Scientist")

Sending the key word Data Scientist to search job.

In [139]:
#clicking search button using absolute xpath function
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
search_btn

In [140]:
search_btn.click()

# Extracting Job titles

In [142]:
#Let's extract all web elements having job titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="35d066bc-61c1-4bb6-ba3e-1438c75fdd3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="dc1fba09-049d-413b-b2cd-6e1c2e3996b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="159c72db-2a79-4df0-a72d-99efb8f7cd10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="6142627e-d5e2-40f1-9897-2eb1ff05a0ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="c6fb6f49-f54d-414b-b025-37e8928e7e76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="9e6ff1ab-a06a-4107-b2b5-a97c4ea5e4b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="fa408f94-5754-47e4-837c-3f89124ecc2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="94a856a2-2579-43b9-b9e7-662e0dd888a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="bb91559b-f235-4d5a-944f-66f2008810fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="af0aa640-4c49-4760-8fb8-3e4ea18a92e2")>]

In [143]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles=job_titles[:10]
job_titles

['Openings For Jr/mid/Sr level data Scientists',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist',
 'DATA SCIENTIST',
 'Data Scientist',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - DARPG, New Delhi',
 'Data Scientist']

# Extracting Location

In [150]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locn_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="4f837b1b-2d1e-4ce9-ba1d-8a2e84314422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="51ffd8af-ca58-4b64-abaa-b7d94c1b47a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="eaf02838-3f62-4cd4-b3ea-271b536ed982")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="609d3bd4-aaaf-4854-982a-a8eb02486ace")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="52548ba0-dc26-4792-bba8-84e8cf36019d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="5dff40f8-e5da-428e-a898-e7b62d5d565e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="e803ccda-7e34-4a1f-b836-c22c05731c18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="105d593b-0d25-4682-b3dd-e843af358a11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="b683714c-c983-4827-a2d0-b1683b52aaa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="18e84a66-68ff-40d1-9757-aa47c5afde5c")>]

In [152]:
location=[]
for i in locn_tags:
    location.append(i.text)
location=location[:10]
location

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram, Chennai',
 'Noida, New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Delhi / NCR',
 'Gurgaon, Bengaluru']

# Extracting Company name

In [155]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="84cae704-a499-4f44-9108-80e589f72596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="eb0f1400-bc7b-4833-9085-50b4a09bbb06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="66a1dbca-e392-47fc-a9a9-b555493ae0b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="c9981f41-4a5f-498a-9733-3b5d41774f43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="e27c12b2-385f-48ef-aeb5-82cdf2d34839")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="937d7cd8-4e8c-437b-9b09-26389bb76ada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="63f58dc3-7c10-4b43-a061-de84de215f19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="07d3f9de-e49d-4970-b17c-f7407ee5ea58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="1ee86f2a-0568-4c03-a47f-64df2bdc1d00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="4a33f181-859c-418d-b0b4-f67023a08753")>]

In [158]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names=company_names[:10]
company_names

['Pluto seven business solutions (p) limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'I Tech Analytic Solutions',
 'Teleperformance',
 'GABA Consultancy services',
 'WNS India',
 'WNS India',
 'NISG (National Institute for Smart Government)',
 'BlackBuck']

# Extracting the Experience_required

In [159]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="3209b791-8e55-4b98-b965-bb3c6a5a6475")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="56c7d8f4-6b17-4b07-8646-aa67a7d187b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="a60e753a-5411-4e16-9bf0-966864b88fdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="a3917e1d-a58f-4bb6-b4a7-2b96eb03ba94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="2fea4874-61bb-4f8f-a06f-c25e4db27769")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="d6e6aa74-38bb-480f-a074-6b890efad5cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="fb3d0b6b-c591-4043-99f6-b9c4b2bb4640")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="76487bbb-26fb-458e-bd6e-cb0451f1e7c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="8878a038-2ffd-4d33-9eea-20fba6cc9461")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc1f35b704551a34c0c121cffdb9c356", element="9a652f25-fc67-4cfa-aefa-d2c878e5a6fc")>]

In [161]:
experience=[]
for i in exp:
    experience.append(i.text)
experience=experience[:10]
experience

['2-6 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '0-0 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '3-7 Yrs']

In [162]:
len(job_titles),len(location),len(company_names),len(experience)

(10, 10, 10, 10)

# Framing the Dataset

In [163]:
jobs=pd.DataFrame()
jobs['Job-Title']=job_titles
jobs['Job-Location']=location
jobs['Company-Name']=company_names
jobs['Experience_required']=experience
jobs

,Job-Title,Job-Location,Company-Name,Experience_required
0,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
1,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
2,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
3,DATA SCIENTIST,Noida,I Tech Analytic Solutions,2-5 Yrs
4,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
5,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
6,Data Scientist,Gurgaon/Gurugram,WNS India,3-6 Yrs
7,Data Scientist,Gurgaon/Gurugram,WNS India,3-7 Yrs
8,"Data Scientist - DARPG, New Delhi",Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs
9,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs

# Q4 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [4]:
driver = webdriver.Chrome('chromedriver.exe')

In [5]:
url='https://www.flipkart.com/'
driver.get(url)

This is the required url from which i have to scrap data.

In [6]:
#finding web element for search using xpath
search_item=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_item

This is the web element to search item using absolute xpath.

In [7]:
search_item.send_keys('Sunglasses')

In [8]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn

In [10]:
#clicking using absolute xpath function
search_btn.click()

# Extracting the Brand

In [16]:
page_url=[] #empty list
url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute("href"))
page_url

['https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [17]:
#scraping data of sunglass brand
sun_brand=[] #empty list
for i in page_url:
    driver.get(i)
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        sun_brand.append(i.text)
sun_brand[:100]

['SRPM',
 'Fastrack',
 'kingsunglasses',
 'Elligator',
 'kingsunglasses',
 'PIRASO',
 'New Specs',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'PHENOMENAL',
 'Rich Club',
 'Rich Club',
 'New Specs',
 'Johaena',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'hipe',
 'kingsunglasses',
 'maxa',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'hipe',
 'agera',
 'Elligator',
 'Rich Club',
 'Lee Topper',
 'ROYAL SON',
 'Fastrack',
 'GANSTA',
 'Silver Kartz',
 'ROYAL SON',
 'PIRASO',
 'SRPM',
 'Fastrack',
 'SUNBEE',
 'New Specs',
 'kingsunglasses',
 'Singco India',
 'Elligator',
 'Fastrack',
 'PHENOMENAL',
 'kingsunglasses',
 'Fastrack',
 'PIRASO',
 'DEIXELS',
 'Flizz',
 'ROYAL SON',
 'PHENOMENAL',
 'IDEE',
 'ROYAL SON',
 'PHENOMENAL',
 'DEIXELS',
 'Johaena',
 'Fastrack',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Singco India',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'AISLIN',
 'kingsunglasses',
 'ROYAL SON',
 'ROYAL SON',
 'HIPPON',
 'PIRASO',
 'Singco India',
 'AISLIN',
 'NuVew',
 'IDEE',
 'ROYAL SON',
 'PHENOMENAL',
 'Rich Club',
 'kingsunglasses',
 'Fastrack',
 'Urbanic',
 'Fastrack',
 'kingsunglasses',
 'DEIXELS',
 'Billion',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'hipe',
 'Urbanic',
 'elegante',
 'Elligator',
 'AISLIN',
 'IDEE']

In [18]:
#scraping data of sunglass product description
sun_prodes=[] #empty list
for i in page_url:
    driver.get(i)
    prodes_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in prodes_tags:
        sun_prodes.append(i.text)
sun_prodes[:100]

['UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (32)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized Round Sunglasses (48)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (58)',
 'Gradient Aviator Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Round Sunglasses (55)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Others Round, Round Sunglasses (54)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection Wrap-around Sunglasses (63)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (32)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Night Vision, Riding Glasses Sports Sung...',
 'Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection, Mirrored Round, Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Cat-eye Sunglasses (20)']

In [22]:
#scraping data of sunglass price
sun_price=[] #empty list
for i in page_url:
    driver.get(i)
    pri_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri_tags:
        sun_price.append(i.text)
sun_price[:100]

['₹188',
 '₹248',
 '₹509',
 '₹274',
 '₹200',
 '₹165',
 '₹271',
 '₹759',
 '₹309',
 '₹499',
 '₹399',
 '₹187',
 '₹359',
 '₹349',
 '₹181',
 '₹163',
 '₹262',
 '₹639',
 '₹200',
 '₹349',
 '₹187',
 '₹299',
 '₹449',
 '₹196',
 '₹359',
 '₹265',
 '₹799',
 '₹359',
 '₹276',
 '₹355',
 '₹169',
 '₹1,089',
 '₹375',
 '₹289',
 '₹239',
 '₹235',
 '₹809',
 '₹299',
 '₹589',
 '₹449',
 '₹169',
 '₹799',
 '₹266',
 '₹246',
 '₹289',
 '₹375',
 '₹209',
 '₹211',
 '₹589',
 '₹449',
 '₹235',
 '₹809',
 '₹299',
 '₹239',
 '₹187',
 '₹261',
 '₹359',
 '₹619',
 '₹189',
 '₹239',
 '₹192',
 '₹276',
 '₹207',
 '₹244',
 '₹809',
 '₹291',
 '₹289',
 '₹201',
 '₹659',
 '₹259',
 '₹164',
 '₹192',
 '₹299',
 '₹1,229',
 '₹258',
 '₹359',
 '₹359',
 '₹244',
 '₹202',
 '₹615',
 '₹360',
 '₹225',
 '₹759',
 '₹449',
 '₹245',
 '₹569',
 '₹156',
 '₹309',
 '₹199',
 '₹296',
 '₹319',
 '₹203',
 '₹319',
 '₹829',
 '₹472',
 '₹299',
 '₹449',
 '₹719',
 '₹479',
 '₹664']

I got all prices of sunglass from 10 pages.

In [23]:
#scraping data of sunglass discount
sun_discount=[] #empty list
for i in page_url:
    driver.get(i)
    dis_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in dis_tags:
        sun_discount.append(i.text)
sun_discount[:100]

['85% off',
 '90% off',
 '81% off',
 '36% off',
 '87% off',
 '86% off',
 '87% off',
 '90% off',
 '84% off',
 '15% off',
 '87% off',
 '77% off',
 '84% off',
 '80% off',
 '88% off',
 '76% off',
 '81% off',
 '85% off',
 '66% off',
 '67% off',
 '86% off',
 '86% off',
 '20% off',
 '83% off',
 '82% off',
 '84% off',
 '87% off',
 '81% off',
 '83% off',
 '78% off',
 '79% off',
 '76% off',
 '82% off',
 '88% off',
 '70% off',
 '88% off',
 '64% off',
 '76% off',
 '79% off',
 '16% off',
 '89% off',
 '11% off',
 '79% off',
 '83% off',
 '85% off',
 '71% off',
 '88% off',
 '83% off',
 '34% off',
 '83% off',
 '87% off',
 '10% off',
 '81% off',
 '88% off',
 '90% off',
 '83% off',
 '76% off',
 '22% off',
 '86% off',
 '81% off',
 '82% off',
 '78% off',
 '79% off',
 '75% off',
 '10% off',
 '85% off',
 '85% off',
 '86% off',
 '17% off',
 '87% off',
 '89% off',
 '82% off',
 '85% off',
 '49% off',
 '80% off',
 '76% off',
 '76% off',
 '83% off',
 '83% off',
 '23% off',
 '75% off',
 '85% off',
 '15% off',
 '79% off',
 '69% off',
 '71% off',
 '87% off',
 '84% off',
 '60% off',
 '85% off',
 '68% off',
 '70% off',
 '78% off',
 '30% off',
 '69% off',
 '88% off',
 '70% off',
 '10% off',
 '40% off',
 '66% off']

I got all discounts of sunglass from 10 pages.

In [24]:
#Creating data frame for scraped data
Sunglass=pd.DataFrame({})
Sunglass['Brand']=sun_brand[:100]
Sunglass['Description']=sun_prodes[:100]
Sunglass['Price']=sun_price[:100]
Sunglass['Discount']=sun_discount[:100]
Sunglass

,Brand,Description,Price,Discount
0,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
1,Fastrack,UV Protection Round Sunglasses (54),₹248,90% off
2,kingsunglasses,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,81% off
3,Elligator,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹274,36% off
4,kingsunglasses,UV Protection Aviator Sunglasses (54),₹200,87% off
...,...,...,...,...
95,Urbanic,Others Retro Square Sunglasses (Free Size),₹299,88% off
96,elegante,UV Protection Oval Sunglasses (Free Size),₹449,70% off
97,Elligator,UV Protection Round Sunglasses (53),₹719,10% off
98,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹479,40% off
99,IDEE,UV Protection Cat-eye Sunglasses (20),₹664,66% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage 
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 review

In [25]:
driver=webdriver.Chrome('chromedriver.exe')

In [26]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

This is the url from which i have to scrap data.

In [27]:
#Clicking on view all
view_all=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span")
view_all.click()

This is the url from which i have to scrap data.

In [28]:
#scraping all urls from flipkart web page.
page_url=[] #empty list
url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute("href"))
page_url

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=2']

In [29]:
#scraping data of iphone ratings
iphone_rating=[] #empty list
for i in page_url:
    driver.get(i)
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tags:
        iphone_rating.append(i.text)
iphone_rating[:100]

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '5',
 '5']

In [30]:
#scraping data of iphone review summary
review_sum=[] #empty list
for i in page_url:
    driver.get(i)
    rev_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in rev_tags:
        review_sum.append(i.text)
review_sum[:100]

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Simply awesome',
 'Worth every penny',
 'Worth every penny',
 'Wonderful',
 'Terrific',
 'Nice product',
 'Perfect product!',
 'Classy product',
 'Brilliant',
 'Good choice',
 'Must buy!',
 'Wonderful',
 'Perfect product!',
 'Simply awesome',
 'Terrific purchase',
 'Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Classy product',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Great product',
 'Very Good',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Pretty good',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!',
 'Awesome',
 'Perfect product!',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Best in the market!',
 'Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Terrific',
 'Best in the market!',
 'Perfect product!',
 'Awesome',
 'Value-for-money',
 'Just wow!',
 'Worthless',
 'Super!',
 'Excellent',
 'Wonderful',
 'Nice product',
 'Mind-blowing purchase',
 'Classy product',
 'Terrific',
 'Excellent',
 'Fabulous!',
 'Pretty good',
 'Mind-blowing purchase',
 'Highly recommended',
 'Excellent',
 'Worth every penny',
 'Fabulous!',
 'Brilliant',
 'Just wow!',
 'Must buy!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Wonderful']

In [31]:
#scraping data of iphone full review
full_rev=[] #empty list
for i in page_url:
    driver.get(i)
    fure_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in fure_tags:
        full_rev.append(i.text)
full_rev[:100]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Really worth of money. i just love it. It is the best phone ever.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️',
 'Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri...\nREAD MORE',
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.\n\nBought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!\n\nThe phone is great and does excellent RAM management like any other Apple device.\n\nThe screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re...\nREAD MORE',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'I rate this product 5* as it has got amazing user experience with the best performing A13 bionic processor. The screen responds and graphics rendering is top notch. With casual gaming and internet browsing, the battery lasts for approx. 1 day. Camera is very good. You will fall in love with the portrait mode. You can call me a loyal Apple customer or whatever but I won’t stop praising the products and overall experience. That user experience matters and is worth every penny you pay.\n\nBelow ar...\nREAD MORE',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say\nBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',

# Data Framing:

In [33]:
#Creating data frame for scraped data
iphone_11=pd.DataFrame({})
iphone_11['Ratings']=iphone_rating[:100]
iphone_11['Review summary']=review_sum[:100]
iphone_11['Full review']=full_rev[:100]
iphone_11

,Ratings,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,3,Must buy!,Camera is excellent just lack of telephoto mod...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Wonderful,Nice value for money good and best price I pho...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
1.Brand

2.Product Description

3.Price

4.discount %

In [34]:
driver=webdriver.Chrome('chromedriver.exe')

In [35]:
url='https://www.flipkart.com/'
driver.get(url)

This is the web page from which i have to scrap data.

In [36]:
#finding web element for search item using absolute xpath
search_item=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_item

In [37]:
#finding web element for sneaker bar
search_item.send_keys('Sneakers')

In [38]:
#Clicking on search button using absolute xpath
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [41]:
#scraping all urls from flipkart web page.
page_url=[] #empty list
url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute("href"))
page_url

['https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [43]:
sneakers_brand=[]
for i in page_url:
    driver.get(i)
    brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand_tags:
        sneakers_brand.append(i.text)
sneakers_brand[:100]

['PUMA',
 'PUMA',
 'BRUTON',
 'Magnolia',
 'luxury fashion',
 'URBANBOX',
 'SCATCHITE',
 'PUMA',
 'RapidBox',
 'Extoes',
 'Stefano Rads',
 'D-SNEAKERZ',
 'HOTSTYLE',
 'BRUTON',
 'ASTEROID',
 'Rzisbo',
 'Numenzo',
 'Shoes Bank',
 'Lee Won',
 'Kreverse',
 'Kraasa',
 'ganpati traders',
 'Labbin',
 'aadi',
 'Numenzo',
 'Robbie jones',
 'luxury fashion',
 'BIRDE',
 'Clymb',
 'Kraasa',
 'Kraasa',
 'Zorth',
 'SPARX',
 'Echor',
 'Zorth',
 'Robbie jones',
 'Echor',
 'PUMA',
 'DUNKASTON',
 'CALCADOS',
 'BIRDE',
 'bluemaker',
 'BIRDE',
 'PUMA',
 'BIRDE',
 'Strollin',
 'Zorth',
 'PUMA',
 'ASTEROID',
 'STRANGER BROTHERS',
 'aadi',
 'PUMA',
 'Echor',
 'RODDICK SHOES',
 'RapidBox',
 'Rzisbo',
 'Trendmode',
 'Edoeviv',
 'D-SNEAKERZ',
 'Robbie jones',
 'India hub',
 'SPARX',
 'ASIAN',
 'aadi',
 'Rzisbo',
 'RapidBox',
 'Robbie jones',
 'T-ROCK',
 'World Wear Footwear',
 'Airland',
 'Ktiz',
 'Dizzler',
 'KANEGGYE',
 'Xtoon',
 'BRUTON',
 'Robbie jones',
 'PUMA',
 'World Wear Footwear',
 'Zorth',
 'WELDONE',
 'Chevit',
 'Airland',
 'World Wear Footwear',
 'PUMA',
 'BIRDE',
 'VZAZZY',
 'believe',
 'PUMA',
 'India hub',
 'Pieds',
 'Robbie jones',
 'PUMA',
 'Chevit',
 'SCATCHITE',
 'Bonexy',
 'PUMA',
 'BIRDE',
 'SPARX',
 'BRUTON',
 'aadi']

In [45]:
#scraping data of sneakers product description
product_description=[] #empty list
for i in page_url:
    driver.get(i)
    desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in desc_tags:
        product_description.append(i.text)
product_description[:100]

['Mirage Sport AS Sneakers For Men',
 'Seawalk Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Luxury Fashionable casual shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Pacer Pro V3 Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'White Sneaker For Men Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Sneakers For Men',
 "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'Acrux V1 Sneakers For Men',
 'Sneakers For Men',
 'Trendy Fashion Combo Pack of 2 Sneakers For Men',
 'Combo Pack of 5 Casual Shoes Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Seawalk Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Mirage Sport AS Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Pacer Pro V3 Sneakers For Men',
 "Men's Canvas Low Top Sneakers Lace-up Classic Casual Sn...",
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'sneaker men red 1258 - 6 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Lattest Sneakers Shoe Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Future Rider Retro Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers Shoes For Men Black Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Mirage Sport AS Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Seawalk Sneakers For Men',
 'luxury fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Pacer Pro V3 Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash Vulc Sneakers For Men',
 'Casual Shoes Sneakers For Men',
 'SM-162 Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Future Rider Neon Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men',
 'casual for men Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Fashion Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis..."]

In [47]:
#scraping data of sneakers price
price=[] #empty list
for i in page_url:
    driver.get(i)
    pri_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri_tags:
        price.append(i.text)
price[:100]

['₹4,499',
 '₹1,799',
 '₹499',
 '₹398',
 '₹429',
 '₹220',
 '₹398',
 '₹1,799',
 '₹680',
 '₹898',
 '₹242',
 '₹348',
 '₹298',
 '₹299',
 '₹474',
 '₹549',
 '₹426',
 '₹331',
 '₹299',
 '₹245',
 '₹555',
 '₹189',
 '₹499',
 '₹549',
 '₹407',
 '₹451',
 '₹449',
 '₹299',
 '₹499',
 '₹649',
 '₹499',
 '₹499',
 '₹679',
 '₹499',
 '₹499',
 '₹474',
 '₹569',
 '₹1,860',
 '₹429',
 '₹498',
 '₹799',
 '₹598',
 '₹499',
 '₹4,499',
 '₹524',
 '₹449',
 '₹499',
 '₹1,799',
 '₹474',
 '₹459',
 '₹386',
 '₹1,799',
 '₹399',
 '₹499',
 '₹640',
 '₹599',
 '₹259',
 '₹499',
 '₹384',
 '₹426',
 '₹474',
 '₹891',
 '₹499',
 '₹549',
 '₹599',
 '₹630',
 '₹499',
 '₹399',
 '₹199',
 '₹237',
 '₹479',
 '₹399',
 '₹549',
 '₹499',
 '₹299',
 '₹449',
 '₹2,942',
 '₹259',
 '₹499',
 '₹299',
 '₹525',
 '₹449',
 '₹549',
 '₹1,799',
 '₹474',
 '₹599',
 '₹499',
 '₹1,799',
 '₹190',
 '₹410',
 '₹499',
 '₹4,499',
 '₹499',
 '₹398',
 '₹2,159',
 '₹348',
 '₹498',
 '₹850',
 '₹527',
 '₹399']

In [48]:
#scraping data of sneakers discount
discount=[] #empty list
for i in page_url:
    driver.get(i)
    dis_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in dis_tags:
        discount.append(i.text)
discount[:100]

['55% off',
 '60% off',
 '80% off',
 '60% off',
 '66% off',
 '77% off',
 '60% off',
 '50% off',
 '31% off',
 '40% off',
 '65% off',
 '47% off',
 '70% off',
 '76% off',
 '52% off',
 '45% off',
 '78% off',
 '66% off',
 '40% off',
 '75% off',
 '44% off',
 '62% off',
 '50% off',
 '72% off',
 '68% off',
 '54% off',
 '85% off',
 '40% off',
 '50% off',
 '56% off',
 '50% off',
 '50% off',
 '15% off',
 '50% off',
 '50% off',
 '52% off',
 '62% off',
 '53% off',
 '71% off',
 '50% off',
 '68% off',
 '60% off',
 '50% off',
 '50% off',
 '47% off',
 '55% off',
 '50% off',
 '55% off',
 '76% off',
 '54% off',
 '74% off',
 '60% off',
 '60% off',
 '50% off',
 '35% off',
 '40% off',
 '74% off',
 '37% off',
 '61% off',
 '78% off',
 '52% off',
 '15% off',
 '37% off',
 '72% off',
 '40% off',
 '36% off',
 '50% off',
 '60% off',
 '60% off',
 '52% off',
 '33% off',
 '20% off',
 '45% off',
 '66% off',
 '76% off',
 '55% off',
 '57% off',
 '48% off',
 '50% off',
 '40% off',
 '47% off',
 '55% off',
 '75% off',
 '50% off',
 '52% off',
 '70% off',
 '61% off',
 '55% off',
 '61% off',
 '58% off',
 '50% off',
 '60% off',
 '50% off',
 '60% off',
 '43% off',
 '65% off',
 '50% off',
 '14% off',
 '78% off',
 '80% off']

# Data Framing

In [51]:
#Creating data frame for scraped data
sneakers=pd.DataFrame({})
sneakers['Brand']=sneakers_brand[:100]
sneakers['Product description']=product_description[:100]
sneakers['Price']=price[:100]
sneakers['Discount']=discount[:100]
sneakers

,Brand,Product description,Price,Discount
0,PUMA,Mirage Sport AS Sneakers For Men,"₹4,499",55% off
1,PUMA,Seawalk Sneakers For Men,"₹1,799",60% off
2,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹499,80% off
3,Magnolia,Sneakers For Men,₹398,60% off
4,luxury fashion,Luxury Fashionable casual shoes Sneakers For Men,₹429,66% off
...,...,...,...,...
95,PUMA,Combo Pack of 2 Casual Shoes Sneakers For Men,₹348,65% off
96,BIRDE,Fashion Sneakers Sneakers For Men,₹498,50% off
97,SPARX,Sneakers For Men,₹850,14% off
98,BRUTON,Sneakers For Men,₹527,78% off
99,aadi,Men's Sneakers Fashion Lightweight Running Sho...,₹399,80% off

# Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099” , Color filter to “Black”.And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [5]:
price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]')
price_filter.click()

In [6]:
#adding color filter
color_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [7]:
br=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [8]:
brand=[] #empty list
for i in range(1,4):
    for j in br:
        brand.append(j.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click

In [9]:
brand[:100]

['Puma',
 'Puma',
 'Hush Puppies',
 'Saint G',
 'RARE RABBIT',
 'ASICS',
 'Bugatti',
 'Bugatti',
 'Bugatti',
 'MANGO',
 'ROSSO BRUNELLO',
 'DAVINCHI',
 'Nautica',
 'Saint G',
 'Saint G',
 'ROSSO BRUNELLO',
 'Saint G',
 'Geox',
 'J.FONTINI',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'Geox',
 'MANGO',
 'Saint G',
 'Geox',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Columbia',
 'Tommy Hilfiger',
 'Cole Haan',
 'J.FONTINI',
 'Clarks',
 'Xtep',
 'RARE RABBIT',
 'J.FONTINI',
 'Geox',
 'DAVINCHI',
 'Geox',
 'Geox',
 'DAVINCHI',
 'Pavers England',
 'DAVINCHI',
 'Pavers England',
 'DAVINCHI',
 'Cole Haan',
 'Geox',
 'Cole Haan',
 'Geox',
 'ROSSO BRUNELLO',
 'Puma',
 'Puma',
 'Hush Puppies',
 'Saint G',
 'RARE RABBIT',
 'ASICS',
 'Bugatti',
 'Bugatti',
 'Bugatti',
 'MANGO',
 'ROSSO BRUNELLO',
 'DAVINCHI',
 'Nautica',
 'Saint G',
 'Saint G',
 'ROSSO BRUNELLO',
 'Saint G',
 'Geox',
 'J.FONTINI',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'Geox',
 'MANGO',
 'Saint G',
 'Geox',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Columbia',
 'Tommy Hilfiger',
 'Cole Haan',
 'J.FONTINI',
 'Clarks',
 'Xtep',
 'RARE RABBIT',
 'J.FONTINI',
 'Geox',
 'DAVINCHI',
 'Geox',
 'Geox',
 'DAVINCHI',
 'Pavers England',
 'DAVINCHI',
 'Pavers England',
 'DAVINCHI',
 'Cole Haan',
 'Geox',
 'Cole Haan',
 'Geox',
 'ROSSO BRUNELLO']

In [13]:
des=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [14]:
description=[]
for i in range(1,4):
    for j in des:
        description.append(j.text)
    next_button=driver.find_element_by_xpath('//li[@class="pagination-next"]/a')
    next_button.click

In [15]:
description[:100]

['Men Running Shoes',
 'Men Magnify Nitro Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men Mid-Top Chelsea Boots',
 'Men Leather Flat Boots',
 'Men Colourblocked PU Sneakers',
 'Men Running Shoes',
 'Men Textured Leather High-Top Flat Boots',
 'Men Black Walking Shoes',
 'Women WovenDesign Sports Shoes',
 'Men Textured Leather Driving Shoes',
 'Men Solid Leather Formal Derbys',
 'High-Top Block Heeled Boots',
 'Women Leather Heeled Boots',
 'Suede High-Top Flatform Heeled Boots',
 'Men Textured Leather Loafers',
 'Men Leather Chelsea Boots',
 'Men Leather Flat Boots',
 'Men Textured Leather Loafers',
 'Men Formal Leather Derby',
 'Women Charged Breathe CLR SFT',
 'Women Leather High-Top Flat Boots',
 'Women Leather Penny Loafers',
 'Leather Platform Heeled Boots',
 'Women Leather Pumps',
 'Women Velocity NITRO Runners',
 'Women Magnify Nitro Shoes',
 'Women Charged Impulse Shft',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Women Hybrid Leather Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Textured Leather Loafers',
 'Men Solid Formal Leather Derbys',
 'Men Running Shoes',
 'Men Textured Leather Loafers',
 'Men Black Leather Loafers',
 'Men Leather Loafers',
 'Ustraa black',
 'Women Solid Leather Pumps',
 'Women Solid Leather Pumps',
 'Men Formal Leather Slip-Ons',
 'Men Leather Driving Shoes',
 'Men Textured Formal Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Textured Formal Leather Loafers',
 'Women Open Toe Flats',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Men Leather Formal Derbys',
 'Men Textured Formal Loafers',
 'Men Running Shoes',
 'Men Magnify Nitro Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men Mid-Top Chelsea Boots',
 'Men Leather Flat Boots',
 'Men Colourblocked PU Sneakers',
 'Men Running Shoes',
 'Men Textured Leather High-Top Flat Boots',
 'Men Black Walking Shoes',
 'Women WovenDesign Sports Shoes',
 'Men Textured Leather Driving Shoes',
 'Men Solid Leather Formal Derbys',
 'High-Top Block Heeled Boots',
 'Women Leather Heeled Boots',
 'Suede High-Top Flatform Heeled Boots',
 'Men Textured Leather Loafers',
 'Men Leather Chelsea Boots',
 'Men Leather Flat Boots',
 'Men Textured Leather Loafers',
 'Men Formal Leather Derby',
 'Women Charged Breathe CLR SFT',
 'Women Leather High-Top Flat Boots',
 'Women Leather Penny Loafers',
 'Leather Platform Heeled Boots',
 'Women Leather Pumps',
 'Women Velocity NITRO Runners',
 'Women Magnify Nitro Shoes',
 'Women Charged Impulse Shft',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Women Hybrid Leather Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Textured Leather Loafers',
 'Men Solid Formal Leather Derbys',
 'Men Running Shoes',
 'Men Textured Leather Loafers',
 'Men Black Leather Loafers',
 'Men Leather Loafers',
 'Ustraa black',
 'Women Solid Leather Pumps',
 'Women Solid Leather Pumps',
 'Men Formal Leather Slip-Ons',
 'Men Leather Driving Shoes',
 'Men Textured Formal Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Textured Formal Leather Loafers',
 'Women Open Toe Flats',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Men Leather Formal Derbys',
 'Men Textured Formal Loafers']

In [23]:
pri_tags=driver.find_elements_by_xpath("//div[@class='product-price']")

In [24]:
price=[] #empty list
for i in range(1,4):
    for j in pri_tags:
        price.append(j.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click

In [25]:
price[:100]

['Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 8999',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 9999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7191Rs. 7990(10% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 8990',
 'Rs. 8699',
 'Rs. 13410Rs. 14900(10% OFF)',
 'Rs. 12150Rs. 13500(10% OFF)',
 'Rs. 10999',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7191Rs. 7990(10% OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 8999',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 7499',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 7699',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 10990',
 'Rs. 8990',
 'Rs. 7499',
 'Rs. 8990',
 'Rs. 10999',
 'Rs. 8990',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 13999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 10999',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 8999',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 9999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7191Rs. 7990(10% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 8990',
 'Rs. 8699',
 'Rs. 13410Rs. 14900(10% OFF)',
 'Rs. 12150Rs. 13500(10% OFF)',
 'Rs. 10999',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7191Rs. 7990(10% OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 8999',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 7499',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 7699',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 8490',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 10990',
 'Rs. 8990',
 'Rs. 7499',
 'Rs. 8990',
 'Rs. 10999',
 'Rs. 8990',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 13999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 10999']

# Data Framing

In [26]:
#Creating data frame for scraped data
shoes=pd.DataFrame({})
shoes['Brand']=brand[:100]
shoes['Short description']=description[:100]
shoes['Price']=price[:100]
shoes

,Brand,Short description,Price
0,Puma,Men Running Shoes,Rs. 8449Rs. 12999(35% OFF)
1,Puma,Men Magnify Nitro Running,Rs. 8449Rs. 12999(35% OFF)
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
3,Saint G,Men Mid-Top Chelsea Boots,Rs. 9810Rs. 10900(10% OFF)
4,RARE RABBIT,Men Leather Flat Boots,Rs. 7999Rs. 9999(20% OFF)
...,...,...,...
95,Cole Haan,Women Open Toe Flats,Rs. 11999
96,Geox,Women Solid Leather Ballerinas,Rs. 8999
97,Cole Haan,Women Solid Leather Ballerinas,Rs. 13999
98,Geox,Men Leather Formal Derbys,Rs. 8399Rs. 11999(30% OFF)
99,ROSSO BRUNELLO,Men Textured Formal Loafers,Rs. 10999

# Go to webpage https://www.amazon.in/
Scrape first 10 laptops data. You have to scrape

1. title

2. Ratings

3. Price

In [64]:
driver = webdriver.Chrome('chromedriver.exe')

In [65]:
url='https://www.amazon.in/'
driver.get(url)

In [66]:
search_item=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_item

In [67]:
search_item.send_keys('Laptop')

In [68]:
#Clicking on search button
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [69]:
#Adding cpu filters
cpu_filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/h3/span')
cpu_filter.click()
time.sleep(2)

In [71]:
# Setting CPU Type filter to "Intel Core i7"
intel_i7 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[11]/div/span")
intel_i7.click()

In [72]:
# Setting CPU Type filter to "Intel Core i9"
intel_i9 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[12]/div/span")
intel_i9.click()

In [73]:
# Scraping data for laptop titles
titles = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

laptop_titles = []  #empty list
for i in titles:
        laptop_titles.append(i.text)
laptop_titles =laptop_titles[:10]
laptop_titles

['ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 240Hz/3ms, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg), FX506HM-AZ099TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg), FX566HM-HN097TS',
 'Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP',
 'ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz Gaming Laptop RTX 2070 8GB Graphics (Core i9-9880H 9th Gen/32GB RAM/1TB PCIe SSD/Windows 10/Scar Gunmetal/2.57 Kg), G531GW-AZ113T',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6” FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty',
 'Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz 10C) /16GB RAM/512GB SSD+1TB SATA/Nvidia RTX 3070 8GB Graphics/DVDRW/Windows 10 Pro/3 Year Warranty',
 'BZ MB WS ZB/Power G8/DSC i9-11900H/32GB/SSD1TB/NVQ A2000/400FHD/IR/Win10 Pro']

In [74]:
# Scraping data for laptop price
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

laptop_price= []  #empty list
for i in price:
    laptop_price.append(i.text)
laptop_price =laptop_price[:10]
laptop_price

['1,44,990',
 '1,43,990',
 '1,39,990',
 '2,65,999',
 '2,00,000',
 '1,89,000',
 '2,25,000',
 '2,45,000',
 '2,39,000',
 '2,57,729']

In [77]:
#Fetching all the URLs
url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

urls = []  #empty list
for i in url[0:20]:
    urls.append(i.get_attribute('href'))

In [78]:
# Scraping data for laptop ratings
laptop_ratings= []  #empty list
for i in urls:
    driver.get(i)
    try:
        driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']").click()
        ratings = driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        laptop_ratings.append(ratings.text)
    except NoSuchElementException as e :
        laptop_ratings.append('-')
laptop_ratings =laptop_ratings[:10]
laptop_ratings

['4.1 out of 5',
 '-',
 '-',
 '4.4 out of 5',
 '4.4 out of 5',
 '4.1 out of 5',
 '4.1 out of 5',
 '4.4 out of 5',
 '4.4 out of 5',
 '4.2 out of 5']

In [79]:
# Creating DataFrame for the scraped data
laptops = pd.DataFrame({})
laptops["Laptop Title"] = laptop_titles
laptops["Laptop Ratings"] = laptop_ratings
laptops["Laptop Price"] = laptop_price
laptops

,Laptop Title,Laptop Ratings,Laptop Price
0,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",4.1 out of 5,"1,44,990"
1,"ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...",-,"1,43,990"
2,"ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...",-,"1,39,990"
3,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,4.4 out of 5,"2,65,999"
4,Dell Precision 5550 || i9 -10885H || 16GB || 1...,4.4 out of 5,"2,00,000"
5,"ASUS ROG Strix Scar III G531GW 15.6"" FHD 240Hz...",4.1 out of 5,"1,89,000"
6,(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...,4.1 out of 5,"2,25,000"
7,HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...,4.4 out of 5,"2,45,000"
8,Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...,4.4 out of 5,"2,39,000"
9,BZ MB WS ZB/Power G8/DSC i9-11900H/32GB/SSD1TB...,4.2 out of 5,"2,57,729"

# Q9: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [8]:
driver=webdriver.Chrome('chromedriver.exe')

In [9]:
url='http://www.ambitionbox.com/'
driver.get(url)

In [10]:
#finding web element for search bar
search_job_element = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
search_job_element.click()

In [11]:
#clicking on job header
search_job=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')

In [12]:
search_job_title=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_job_title

In [13]:
search_job.send_keys("Data Scientist")

In [16]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_btn.click()

In [23]:
search_locn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_locn

In [24]:
#finding web element for search location bar using absolute xpath
search_locn.send_keys("Noida")

In [25]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search_btn

In [26]:
#clicking using absolute xpath
search_btn.click()

In [27]:
#lets extract the required web element having company titles
company_tags=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
company_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="94677c40-b4ca-4a26-bfd6-de9044fa660b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="74c1110d-4ccf-447b-8f43-a93eef14ae41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="2af17bb4-4a94-4475-bb15-0418786a56fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="be0850e6-a7b1-4184-973e-3612a553afcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="94d5eef3-e95c-4da3-ae34-3a9956767582")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="6d841e4f-58a2-4f62-a6d8-ddc25e109c9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="8d3cdb78-4c0b-4fbd-969c-ba37eaec6699")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="9476c425-dcb9-4374-8806-e887c430e7dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="b6c8a1d7-8158-42b8-ac41-30e7bf1463c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="a9a33f7a-6d18-4ffc-9709-7b7b4cf9052a")>]

In [61]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names=company_names[:10]
company_names

['Nokia Solutions and Networks India (P)Ltd.',
 'Paytm',
 'Jubilant Foodworks Limited',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'RMS Risk Management Solutions',
 'Paytm']

In [33]:
#scraping data for No. of days ago when the post was posted.
days_ago=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
days_ago[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="7e8e4118-a401-4ada-9af4-16446c0a2ac5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="51fbeedd-876e-40f5-9b08-c74e2af9da36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="ef4cb0ab-a565-4010-870e-b3a17d4c7fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="1a359d71-65bb-4360-bb33-e3c2b73f3c5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="3876b69f-1c5b-4627-a2ff-66cc9d22088a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="75419b5d-6044-4318-a89f-d5c94b06e74e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="13ce570a-912c-4aea-8dad-ae9b723e68ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="593adf84-b0da-4a5a-aac7-ce934343b60c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="1e218d81-f9c3-4343-9919-2630682e385a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="91800a03-4d8e-4e36-801c-7354988b1f67")>]

In [36]:
job_posted=[]
for i in range(0,len(days_ago),2):
    job_posted.append(days_ago[i].text)
job_posted=job_posted[:10]
job_posted

['12d ago',
 '6d ago',
 '23d ago',
 '7d ago',
 '8d ago',
 '19d ago',
 '19d ago',
 '19d ago',
 '1d ago',
 '27d ago']

In [56]:
rating_titles=driver.find_elements_by_xpath('//div[@class="rating-wrapper"]/a')
rating_titles[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="fa85cd69-6a8f-4031-ac34-5398411654e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="100f9a6e-390f-49d4-8578-ffe41e00d3f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="74d42aab-8c3e-48d2-a73c-458532c09b60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="91449243-f251-4e64-8903-666ed4f03b6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="6d3f5b60-e598-4cec-a749-a4e0391ffeb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="69831b9c-2cd5-4f04-9bd1-ff85dcd4c120")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="f03d674c-45a0-46f3-a2ca-36bbe42a6a73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="c7020a27-4c52-4dac-8cec-346048e1310b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="cc786f74-232b-45e5-822b-a783f253a80d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="151ca1bec2d01947b1ac6f057545695d", element="12b1b308-b750-49e7-a362-3a14c560a597")>]

In [59]:
ratings=[]
for i in range(0,len(rating_titles),2):
    ratings.append(rating_titles[i].text)
ratings=ratings[:10]
ratings

['4.3', '4.3', '3.7', '3.9', '3.7', '3.7', '4.1', '4.1', '4.1', '3.5']

# Data Frame

In [64]:
Noida_jobs=pd.DataFrame()
Noida_jobs['Company Name']=company_names
Noida_jobs['Job posted']=job_posted
Noida_jobs['Ratings']=ratings
Noida_jobs

                                 Company Name Job posted Ratings
0  Nokia Solutions and Networks India (P)Ltd.    12d ago     4.3
1                                       Paytm     6d ago     4.3
2                  Jubilant Foodworks Limited    23d ago     3.7
3                                CHT Sapiense     7d ago     3.9
4                                CHT Sapiense     8d ago     3.7
5                                    GI Group    19d ago     3.7
6                                    GI Group    19d ago     4.1
7                                    GI Group    19d ago     4.1
8               RMS Risk Management Solutions     1d ago     4.1
9                                       Paytm    27d ago     3.5

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
url='http://www.ambitionbox.com/'
driver.get(url)

In [4]:
salary_link=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_link.click()

In [5]:
#finding web element for job search
job_search=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job_search

In [6]:
job_search.send_keys("Data Scientist")

In [7]:
#searching the job title
Title_search=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]')
Title_search.click()

# Extracting company Names¶

In [25]:
company_tags=driver.find_elements_by_xpath('//div[@class="name"]/a')
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="22cbbb3f-e81b-492e-8e60-45b83830d649")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="04bb7399-e9a1-47fc-a232-bfc2e37ad1b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="f8c1de77-95f6-4ef0-8a79-f8bd5759a37d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="c38afaf9-09c7-412d-8e3e-64d9c02b83f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="da35076f-447f-4efc-b35e-3e4e092e3d13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="61905b38-4861-4327-a3dd-6c4dcf660af4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="a0184b30-16fc-47e7-b0d3-7d1655f0877a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="bb3ad15e-98c5-408e-b83c-01c43f8bf037")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="1c33b802-2557-4b31-a6dc-04014e8f6ad5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="091d7368-9583-4c6d-a06e-a84817e7ba96")>]

In [26]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names=company_names[:10]
company_names

['Tekion',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Flipkart',
 'Amazon',
 'Arcesium',
 'PayPal',
 'Servicenow Software Development India',
 'Walmart',
 'ServiceNow']

# Extracting Total salary record

In [27]:
tot_salary=driver.find_elements_by_xpath('//div[@class="company-info"]//span')
tot_salary[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="531b5237-120c-44b2-b4d7-fba497421fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="0b582d9b-d750-4da9-8f7e-f8a3686fb37d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="1035d4f9-1de2-40c8-9623-75c248b78ed8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="00f6e694-75df-4656-aa98-dbacb13b3e84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="83ee791c-1a35-4dce-b9a9-0b01136391fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="9bf88ae6-e32e-46ac-9d42-bf138915cc13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="411383e6-c152-406f-b0c7-edb386ac573f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="692cac2a-caf5-4216-95a4-fb0fafbee27d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="2305751e-9fb2-4d82-80e3-bd72382910c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="cf031b0b-bacc-4f5f-80d4-980e57b51949")>]

In [28]:
Total_salary=[]
for i in range(0,len(tot_salary),2):
    Total_salary.append(tot_salary[i].text)
Total_salary=Total_salary[:10]
Total_salary

['based on 10 salaries',
 'based on 224 salaries',
 'based on 11 salaries',
 'based on 54 salaries',
 'based on 85 salaries',
 'based on 37 salaries',
 'based on 12 salaries',
 'based on 27 salaries',
 'based on 79 salaries',
 'based on 16 salaries']

# Extracting the Avg salary

In [29]:
avg_salary=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
avg_salary

[<selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="778d878b-18c9-404b-871a-002e7577860a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="d21f5cef-a00b-4e49-b909-ee8fc9008a40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="dd3ff677-c88e-445a-94ec-4396112e0724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="6d0216d3-6acc-449a-a43a-85295005f7f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="9ec3ff83-a0a0-476d-bc7a-6d1197dc5499")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="aece938b-01d2-4b72-9768-26625db28dcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="bd6112be-f40e-45d2-b69c-cc3fcb3eb74e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="d38830c8-c667-4345-8ce3-a5d6c291a9a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="19c4048a-2402-4f93-bd5b-334103e510a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="dec46345-dac3-4ddc-adee-68cddc74b15c")>]

In [30]:
Average_Salary=[]
for i in avg_salary:
    Average_Salary.append(i.text)
Average_Salary=Average_Salary[:10]
Average_Salary

['₹ 23.3L',
 '₹ 22.4L',
 '₹ 21.9L',
 '₹ 20.6L',
 '₹ 19.4L',
 '₹ 18.5L',
 '₹ 18.4L',
 '₹ 18.3L',
 '₹ 17.9L',
 '₹ 17.8L']

# Extracting Min. salary

In [31]:
min_salary=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
min_salary[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="8b668ab5-57c1-4b39-a22f-1b7bd7869bda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="c814f0c7-74b9-44f0-8c0a-483a852cf891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="caa9e558-981d-43f0-91d3-27932c0d9e23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="22ffdd5b-1d4a-40c8-9290-29badb119306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="12957a17-f295-4e37-a9b1-b0e489c7f731")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="c0ea613e-0fcb-4c20-9cc5-6394d641af91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="f8c7bce3-6ced-4691-aa9b-8addd18daf6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="99bb9967-2f21-45df-a19e-da8f315890cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="c2d2bd87-cf0e-4e8a-8e71-381aff342f97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="e48a1f31-69ed-434a-8368-042394c84a81")>]

In [32]:
Min_Salary=[]
for i in min_salary:
    Min_Salary.append(i.text)
Min_Salary=Min_Salary[:10]
Min_Salary

['₹ 14.0L',
 '₹ 32.0L',
 '₹ 12.0L',
 '₹ 45.0L',
 '₹ 16.0L',
 '₹ 30.0L',
 '₹ 7.0L',
 '₹ 30.0L',
 '₹ 8.0L',
 '₹ 41.5L']

# Extracting Max. salary¶

In [33]:
max_salary=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
max_salary[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="8b668ab5-57c1-4b39-a22f-1b7bd7869bda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="c814f0c7-74b9-44f0-8c0a-483a852cf891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="caa9e558-981d-43f0-91d3-27932c0d9e23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="22ffdd5b-1d4a-40c8-9290-29badb119306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="12957a17-f295-4e37-a9b1-b0e489c7f731")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="c0ea613e-0fcb-4c20-9cc5-6394d641af91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="f8c7bce3-6ced-4691-aa9b-8addd18daf6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="99bb9967-2f21-45df-a19e-da8f315890cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="c2d2bd87-cf0e-4e8a-8e71-381aff342f97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="e48a1f31-69ed-434a-8368-042394c84a81")>]

In [34]:
Max_Salary=[]
for i in range(1,len(max_salary),2):
    Max_Salary.append(max_salary[i].text)
Max_Salary=Max_Salary[:10]
Max_Salary

['₹ 32.0L',
 '₹ 45.0L',
 '₹ 30.0L',
 '₹ 30.0L',
 '₹ 41.5L',
 '₹ 30.0L',
 '₹ 25.0L',
 '₹ 25.0L',
 '₹ 32.0L',
 '₹ 23.0L']

# Extracting the Experience

In [35]:
exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp

[<selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="7cca86ce-f743-478c-a615-20596faa6d73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="0c488ed4-646a-40aa-a1dc-a359e9d6428c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="f83aa0d8-d1e3-47d9-87c2-7d38b14e89fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="02655dc6-5dbf-4467-aa41-be48a0ee313f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="77a5a1db-6fa1-4180-80e9-69a6757b4904")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="16bf2bbe-b4de-494f-a94f-b93deb741024")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="7f000492-feb1-4143-a70d-fd49e8452662")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="b9a0bb46-d356-48ba-8b86-4a64c37b79a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="a39147df-41f7-4bcb-a40e-f4fb4c632b2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="979a4e52ade1ec279da93c56db739dce", element="79d4d9d0-8e32-4ef9-98cc-bc316af33964")>]

In [36]:
Experience=[]
for i in exp:
    Experience.append(i.text)
Experience=Experience[:10]
Experience

['Software Engineer\n . \n4 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n2 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n1 yr exp',
 'Software Engineer\n . \n1 yr exp',
 'Software Engineer\n . \n2-3 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n3 yrs exp']

# Data Frame

In [37]:
Data_scientist_Designation=pd.DataFrame()

In [39]:
Data_scientist_Designation['Company Names']=company_names
Data_scientist_Designation['Total Salary']=Total_salary
Data_scientist_Designation['Avg Salary']=Average_Salary
Data_scientist_Designation['Minium Salary']=Min_Salary
Data_scientist_Designation['Maximum Salary']=Max_Salary
Data_scientist_Designation['Experience']=Experience
Data_scientist_Designation

,Company Names,Total Salary,Avg Salary,Minium Salary,Maximum Salary,Experience
0,Tekion,based on 10 salaries,₹ 23.3L,₹ 14.0L,₹ 32.0L,Software Engineer\n . \n4 yrs exp
1,Microsoft Corporation,based on 224 salaries,₹ 22.4L,₹ 32.0L,₹ 45.0L,Software Engineer\n . \n1-4 yrs exp
2,Goldman Sachs,based on 11 salaries,₹ 21.9L,₹ 12.0L,₹ 30.0L,Software Engineer\n . \n2 yrs exp
3,Flipkart,based on 54 salaries,₹ 20.6L,₹ 45.0L,₹ 30.0L,Software Engineer\n . \n1-4 yrs exp
4,Amazon,based on 85 salaries,₹ 19.4L,₹ 16.0L,₹ 41.5L,Software Engineer\n . \n1-4 yrs exp
5,Arcesium,based on 37 salaries,₹ 18.5L,₹ 30.0L,₹ 30.0L,Software Engineer\n . \n1 yr exp
6,PayPal,based on 12 salaries,₹ 18.4L,₹ 7.0L,₹ 25.0L,Software Engineer\n . \n1 yr exp
7,Servicenow Software Development India,based on 27 salaries,₹ 18.3L,₹ 30.0L,₹ 25.0L,Software Engineer\n . \n2-3 yrs exp
8,Walmart,based on 79 salaries,₹ 17.9L,₹ 8.0L,₹ 32.0L,Software Engineer\n . \n1-4 yrs exp
9,ServiceNow,based on 16 salaries,₹ 17.8L,₹ 41.5L,₹ 23.0L,Software Engineer\n . \n3 yrs exp